doctype html
html(lang='en')
html
  head 
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title= `${title}`
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(defer src='https://use.fontawesome.com/releases/v5.0.13/js/solid.js', integrity='sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ', crossorigin='anonymous')
    script(defer src='https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js', integrity='sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js')
  body
#wrapper.d-flex
  // Sidebar
  #sidebar-wrapper.bg-light.border-right
    .sidebar-heading Dispatch and MDT 
    .list-group.list-group-flush
      a.list-group-item.list-group-item-action.bg-light(href='/') Home
      a.list-group-item.list-group-item-action.bg-light(href='/dispatch') Dispatch
      a.list-group-item.list-group-item-action.bg-light(href='/map') Map
      a.list-group-item.list-group-item-action.bg-light(href='/police') Police
      a.list-group-item.list-group-item-action.bg-light(href='/ems') EMS
      a.list-group-item.list-group-item-action.bg-light(href='/fire') Fire
      a.list-group-item.list-group-item-action.bg-light(href='/timesheet') Timesheet
      a.list-group-item.list-group-item-action.bg-light(href='/user') Profile
      a.list-group-item.list-group-item-action.bg-light(href='https://status.dashie.systems') Status
    .custom-control.custom-switch
      input#darkSwitch.custom-control-input(type='checkbox')
      label.custom-control-label(for='darkSwitch') Dark Mode
    script(src='/javascripts/dark-mode-switch.min.js', type='text/javascript')

  #page-content-wrapper
    nav.navbar.navbar-expand-lg.navbar-light.border-bottom
      button#menu-toggle.btn.btn-primary Toggle Menu
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon      
    block content


script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
script(src='/javascripts/main.js', type='text/javascript')